@font-face {
    font-family: 'Bigola Display';
    src: url('./fonts/BigolaDisplay-Regular.woff2') format('woff2'),
        url('./fonts/BigolaDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Helvetica Neue';
    src: url('./fonts/HelveticaNeue-Light.woff2') format('woff2'),
        url('./fonts/HelveticaNeue-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('./fonts/HelveticaNeue-Medium.woff2') format('woff2'),
        url('./fonts/HelveticaNeue-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('./fonts/HelveticaNeue-Heavy.woff2') format('woff2'),
        url('./fonts/HelveticaNeue-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('./fonts/HelveticaNeue-Roman.woff2') format('woff2'),
        url('./fonts/HelveticaNeue-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('./fonts/HelveticaNeue-Black.woff2') format('woff2'),
        url('./fonts/HelveticaNeue-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('./fonts/HelveticaNeue-Bold.woff2') format('woff2'),
        url('./fonts/HelveticaNeue-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}